# Kesling Archive D3 — Environment Variables
# Salin file ini menjadi .env dan isi nilainya

SUPABASE_URL=https://ljzrjqsuxfxanoctrekw.supabase.co
SUPABASE_ANON_KEY=sb_publishable_Y_wzCp_k_4uH4QM8BNCkqQ_WixZH548
